<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loopwiki.loginregisterwithsqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" />
        <activity
            android:name=".FetoSemana"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Contracciones"
            android:label="Contracciones"/>
        <activity android:name=".Info_diaria"
            android:label="Informacion Diaria"/>
        <activity android:name=".PanelDiario" />
        <activity android:name=".EditarEliminarNota" />
        <activity android:name=".EscribirNota" />
        <activity
            android:name=".ecografias.Eco_Activity"
            android:label="Ecografias"></activity>
        <activity android:name=".peso_madre.Peso_Madre_Activity"
            android:label="Peso de la Madre">
        </activity>
        <activity android:name=".login2.LoginActivity">
            <intent-filter>
                <action android:name="Android.intent.action.MAIN" />
                <category android:name="Android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login2.UserRegistro"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>